name: model

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    
    # 1. This tells TensorFlow to look for the 'tf_keras' package
    env:
      TF_USE_LEGACY_KERAS: '1'

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8
        
        # 2. FIX: We MUST install 'tf_keras' alongside tensorflow for the env var to work
        # We also pin numpy to 1.26.4 to ensure compatibility with TF 2.16+
        pip install tensorflow tf_keras tensorflow-model-optimization "numpy==1.26.4" 
        
        # Install other dependencies
        pip install cmsisdsp==1.9.9 soundfile scikit-learn matplotlib ipython
        
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - name: Lint with flake8
      run: |
        flake8 model_training/model.py --count --select=E9,F63,F7,F82 --show-source --statistics
        flake8 model_training/model.py --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
        
    - name: Run Model Check
      run: python model_training/model.py
